<nav class="navbar navbar-expand-sm navbar-dark bg-danger my-navbar">
    <div class="">
        <a routerLink="/" class="navbar-brand"><i class="fa-solid fa-sack-dollar mr-2"></i><small>fin</small>Perso</a>
    </div>

    <div class="m-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories/add">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/categories/edit/3">Revenus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Dépenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/"><i class="fa fa-user"></i>Utilisateurs</a>
            </li>
        </ul>
    </div>
</nav>